/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
// https://brandhub.unimelb.edu.au/guidelines/typography
@import url(./fonts/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');



/*********************************************
 * UoM COLOUR PALETTE
 https://brandhub.unimelb.edu.au/guidelines/colour-palette
 *********************************************/
$uomBlue: #094183;
$white: #FFFFFF;
$darkBlack: #000000;
$lightBlack: #99A2AA;
$darkTeal: #3FA7C2;
$lightTeal: #7CBDCE;
$darkEmerald: #59B17F;
$lightEmerald: #98D6C3;
$darkBlue: #4074B2;
$lightBlue: #ADCDF0;
$darkYellow: #ECAE65;
$lightYellow: #FFDCA2;
$darkOrange: #E77052;
$lightOrange: #FFA478;
$darkGreen: #A1D172;
$lightGreen: #DAE299;
$darkPurple: #7283BF;
$lightPurple: #B0BCE1;
$darkPink: #EE8889;
$lightPink: #FFBDCC;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $white;

$mainColor: $uomBlue;
$headingColor: $uomBlue;

$mainFontSize: 42px;
$headingFont: 'Noto serif', Georgia, sans-serif;
$mainFont: 'Source Sans Pro', Calibri, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 700;
$linkColor: $darkBlue;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
 * BORDER OF SLIDES
 *********************************************/
$borderColour: $uomBlue;
$borderWidth: 50px;

.reveal .controls {
  right: 50px;
  bottom: 50px;
}

.line {
  content: '';
  position: fixed;
  background: $borderColour;
  z-index: 105;
}

.line.top {
  left: 0;
  top: 0;
  width: 100%;
  height: $borderWidth;
}

@media (max-width: 840px) {
  .line.top {
    height: 15px;
  }
}

.line.bottom {
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: $borderWidth;
}

@media (max-width: 840px) {
  .line.bottom {
    height: 15px;
  }
}

.line.left {
  left: 0;
  top: 0;
  width: $borderWidth;
  height: 200%;
}

@media (max-width: 840px) {
  .line.left {
    width: 15px;
  }
}

.line.right {
  left: auto;
  right: 0;
  top: 0;
  width: $borderWidth;
  height: 200%;
}


@media (max-width: 840px) {
  .line.right {
    width: 15px;
  }
}

/*********************************************
 * LOGO POSITIONING
 *********************************************/

#dohertyLogo {
  position: absolute;
  left: 100px;
  bottom: #{$borderWidth + 5};
  width: auto;
  height: 7%;
}

#uomLogo {
  position: absolute;
  left: 2px;
  bottom: #{$borderWidth + 5};
  width: auto;
  height: 7%;
}
